resources:
- type: compute.v1.instance
  name: instance-{{ env["deployment"] }}
  properties:
    zone: {{ properties["zone"] }}
    machineType: zones/{{ properties["zone"] }}/machineTypes/f1-micro
    disks:
    - boot: true
      autoDelete: true
      initializeParams:
        sourceImage: projects/debian-cloud/global/images/family/debian-9
    networkInterfaces:
    - network: global/networks/default
    labels:
      somelabel: {{ properties["somelabel"] or "macano" }}
      fixedlabel: chanapulana
