resources:
- type: compute.v1.firewall
  name: address-{{ env["deployment"] }}
  properties:
    network: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/global/networks/default
    sourceRanges: [0.0.0.0/0]
    allowed:
    - IPProtocol: tcp
      ports: ['16180']
